section{
    width: 80%;
    height: 200px;
    background: green;
    margin: auto;
    padding: 2px;
        
}
div#A{
    background: white;
}
div#B{
    width: 24%;
    height: 200px;
    background: lightgreen;
    float:left;
}
div#C{
    width:24%;
    height: 200px;
    background: yellow;
    float: left;
}
div#D{
    width: 15%;
    height: 200px;
    blackground:cyan;
    float: left;
}
#myForm span{
    color: red;
    font-size: 14px;
}


